table, th, td {
    border-collapse:collapse;  
}
table {
    margin-bottom: 30px;
}
td {
    border: 2px solid red;
    text-align: center;
}
.skip-link {
    background: black;
    color: #fff;
    font-weight: 700;
    padding: 4px;
    position: absolute;
    transform: translateY(-200%);
}
.skip-link:focus {
    transform: translateY(-100%);
}
.skip-link {
    transform: 0.3s;
}
