*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
}
h1,
h2,
h3{
    font-family: serif;
    font-weight: normal;
    padding: .2em 0;
}

header,
nav,
main,
aside,
footer {
    padding: 1.5em;
    border: 1px black solid;
}

header,
footer {
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background: rgb(177, 211, 179);
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns:
    1fr       2f4      1fr;
    grid-template-areas: 
    "     heady     "
    "     navvy     "
    "     mainy     "
    "     mainy     "
    "     mainy     "
    "     mainy     "
    "     footy     ";

}

header {grid-area: heady; background: rgb(189, 246, 230);}
nav {grid-area: navvy; background: rgb(95, 235, 200); ;}
main {grid-area: mainy; background: rgb(254, 255, 243); text-align: left; padding: 50px;}
footer {grid-area: footy; background: rgb(189, 246, 230)}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

nav ul li{
    list-style: none;
}

p, ul {
    line-height: 1.7;
}
/* check out flexbox froggy */