*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.sr-only{
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
body{
    font-family: sans-serif;
}
h1{
    font-family: serif;
    font-weight: 500;
}
h2 {
    font-family: serif;
    font-weight: normal;
    padding: .2em 0;
    margin: 7px;
    text-align: center;
}
h3{
    font-family: serif;
    font-weight: normal;
    padding: .2em 0;
}

header,
nav,
main,
aside,
footer {
    padding: 1.5em;
    border: 1px black solid;
}

header,
footer {
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background: rgb(177, 211, 179);
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns:
    1fr       2fr      1fr;
    grid-template-areas: 
    "     heady     "
    "     navvy     "
    "     mainy     "
    "     mainy     "
    "     mainy     "
    "     footy     ";

}

header {grid-area: heady; background: rgba(0, 102, 58, 0.723);}
nav {grid-area: navvy; background: rgb(42, 118, 79);}
main {grid-area: mainy; background: rgb(254, 255, 243); text-align: left; padding: 50px;}
footer {grid-area: footy; background: rgba(0, 102, 58, 0.723);}

main section {
    margin: 10px 0px;
    background-color: beige;
    border: 2px solid black;
    padding: 15px;
}
main section section {
    border: none;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    
}

nav ul li{
    list-style: none;
}

nav ul li a {
display: block;
padding: 20px 20px;
margin: 0 auto;
background: beige;
border: 2px solid black;
font-size: large;
text-decoration: none;
color: black;
text-align: center;
}

nav ul li a:hover {
background: rgb(154, 251, 137);

}

p, ul {
    line-height: 1.7;
}
ul{
    margin: 20px;
    margin-top: 5px;
}
pre{
    overflow-x: auto;
}
figure {
    margin-top: 10px;
    background-color: rgba(97, 110, 110, 0.295);
    padding: 10px 10px;
}

@media screen
  and (min-width: 641px)
  and (max-width: 900px)  {
.container {
grid-template-columns:
   1fr 1fr;
grid-template-areas:
  "header1 header1"
  "nav1 nav1"
  "main1 main1"
  "foot1 foot1";
}
} /* end medium/tablet media query */

/* media query small/mobile */
@media screen
  and (max-width: 640px)  {
.container {
grid-template-columns:
   1fr;
grid-template-areas:
  "header1"
  "main1"
  "nav1"
  "foot1";
}

nav ul {
    flex-flow: column nowrap;
    text-align: center;
  }
  nav ul li a {
    padding: 10px 5px;
    margin: 5px;
  
  }
  code {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
